.container{
    background-color: #8BC34A;
    padding: 0 60px;
}

#logo_2 {
  height: 100px;
  position: absolute;
  right: 630px ;
}

.sidebar {
    height: 530px;
}

input[type=button] {
  border: none;
  height: 150px;
  width: 150px;
}