<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        
        <header>
            <nav>
              <ul>
                <li class="logo"><img id="logo" src="img/mood_food.jpg"></li>
                <li><a href="#">About</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </nav>
            <button>Login</button>
        </header>
      
        <section class="sidebar">
            <h3>Recent Posts</h3>
            <ul>
                <button class="btn" id="red"></button>
                <button class="btn" id="green"></button>
                <button class="btn" id="blue" ></button>
                <button class="btn" id="black" ></button>
                <button class="btn" id="black" ></button>
                <li><a href="#">Happy</a></li>
                <li><a href="#">Sad</a></li>
                <li><a href="#">Angry</a></li>
                <li><a href="#">Nervous</a></li>
                <li><a href="#">Excited</a></li>
              </ul>
        </section>
        
        <section class="main">
                  <img src="https://media.istockphoto.com/photos/red-apple-picture-id495878092?k=6&m=495878092&s=612x612&w=0&h=q9k5jN-1giBGZgTM6QhyKkPqtGf6vRpkgDzAwEz9DkY=">        
        
            <h2>CSS Grid Layout</h2>
        
            <p>To begin working with a CSS Grid Layout, it is very important to have display: grid; set on the container. The grid-template-columns are declared here to give the overall structure of the page. Remember how the Flexbox example had the .main class set to a flex-grow of 3 and the sidebar had a flex-grow of 1 to establish sizing? Well, here the grid-template-columns have been set as 1fr and 3fr.</p>
              
             <p> This is where the grid is taking shape with the fractional units. With these values, it is apparent that there are two columns and they are not equal with. The column set to 3fr is three times wider than the other. This explains how the sidebar appears more narrow than the content area.</p>
        
        </section>
    
        <footer>
            <h3>CSS Grid Layout Example</h3>
            <p>Hope you enjoyed learning about CSS Grid Layouts!</p>
        </footer>
    </div>
</body>
</html>
