<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        
        <header>
            <nav>
              <ul>
                <img id="logo" src="img/mood_food.jpg"></img>
              </ul>
            </nav>
        </header>
      
        <section class="sidebar">
        
           <form>
                <input  type="button" value="Happy" onclick="window.location.href='https://goo.gl/maps/T5if288Uim12'" />
                <input  type="button" value="Sad" onclick="window.location.href='https://goo.gl/maps/T5if288Uim12'" />
                <input  type="button" value="Mad" onclick="window.location.href='https://cssix-jazlyn-jsarmiento4.c9users.io/Angry'" />
                <input  type="button" value="Romantic" onclick="window.location.href='https://goo.gl/maps/T5if288Uim12'" />
                <input  type="button" value="Motivated" onclick="window.location.href='https://goo.gl/maps/T5if288Uim12'" />
            </form>
        </section>
        

        </section>
    
        <footer>
            <p>Hope you enjoyed our app!</p>

            <ul>
                <button class = "btn2" <a href="/">About</a></button>
                <button class = "btn2" <a href="/contact">Contact</a></button>
            </ul>

        </footer>
    </div>
</body>
</html>