<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style_2.css">
</head>
<body>
    <div class="container">
        
        <header>
            <nav>
        </header>
      
        <section class="sidebar">
        
                <ul>
                    <br>
                    <button class="btn" id="red">Test</button>
                    <br>
                    <button class="btn" id="green">Test</button>
                    <br>
                    <button class="btn" id="blue" >Test</button>
                    <br>
                    <button class="btn" id="black" >Test</button>
                    <br>
                    <button class="btn" id="black" >Test</button>
                </ul>
             
        </section>
      

        </section>
    
        <footer>
            <p>Hope you enjoyed our app!</p>
        </footer>
    </div>
</body>
</html>